* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.conteiner {
    text-align: center;
    width: 500px;
    border: 0.5px solid grey ;
    border-radius: 20px;
    margin: 0% 33%;
}
    
.logo {
    padding: 30px;
    background-color: rgb(23, 188, 23);
    border-radius: 20px 20px 0px 0px;
    color: white
}
.form_1 {
    display: flex;
    flex-direction: column;
    height: 350px;
    background-color: white;
    padding: 50px 100px 0px;
    justify-content: space-between;
    align-items: center;
}
.form_1 a {
    font-size: 14px;
    margin-left: 35%;
    text-decoration: none;
    color: rgb(63, 155, 63);
}
input[type="text"] {
            max-width: 250px;
            width: 100%;
            padding: 14px;
            border: 1px solid #ddd;
            border-radius: 6px;
            font-size: 16px;
            background-color: #e0e4ea;
        }
input[type="tel"] {
            max-width: 250px;
            width: 100%;
            padding: 14px;
            border: 1px solid #ddd;
            border-radius: 6px;
            font-size: 16px;
            background-color: #e0e4ea;
        }
input[type="password"] {
            max-width: 250px;
            width: 100%;
            padding: 14px;
            border: 1px solid #ddd;
            border-radius: 6px;
            font-size: 16px;
            background-color: #e0e4ea;
        }
button {
    max-width: 270px;
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    background-color: rgb(23, 188, 23);
    color: white;
}
a {
    color: rgb(23, 188, 23);
    font-size: 14px;
    text-decoration: none;
    
}
.bottom-text {
    margin:45px 0px 10px;
}
p {
    color: #e0e4ea;
    font-size: 14px;
}
.bottom-text a {
    font-size: 16px;
    color: rgb(23, 188, 23);
}